<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link href="{% static "css/showcastertest.css" %}" type="text/css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/showcastertest.js" %}"></script>
  </head>
  <body>
    <div class="container-fluid" style="height:100%">
      <div class="row header">
            
      </div>
      <div class="row">
        <div class="col-md-7">
          <iframe src="https://play.showcaster.com/embed.jsp?SEID=135965&type=custom&render=video&nobranding=true" scrolling="no" frameborder="0" allowtransparency="yes" width="716" height="403" id="videoSwapper"></iframe>
        </div>
        <div class="col-md-3" disabled>
          <div class="iFrameWrapper" id="iFrameWrapper">
          <div class="iFrameDisabler" id="iFrameDisabler">
            
          </div>
          <iframe src="https://play.showcaster.com/embed.jsp?SEID=135965&type=custom&render=chat,poll&nobranding=true" scrolling="no"   frameborder="0" allowtransparency="yes" width="300" height="403"></iframe>
        </div>
        </div>
        <div class="col-md-2">
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="swapVideo(cam1)" id="changeVidCam1">Camera 1</button>
          </div>
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="swapVideo(cam2)" id="changeVidCam2">Camera 2</button>
          </div>
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="swapVideo(cam3)" id="changeVidCam3">Camera 3</button>
          </div>
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="swapVideo(cam4)" id="changeVidCam4">Camera 4</button>
          </div>
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="swapVideo(cam5)" id="changeVidCam5">Camera 5</button>
          </div>
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="swapVideo(cam6)" id="changeVidCamAlignment" {% if not perms.show.view_secret %} disabled {% endif %} >Camera 6</button>
          </div>
          <div class="row-fluid top-margin">
            <button type="button" class="btn btn-default btn-lg changeVidButton" onclick="spendCredit('alignment')" id="upgradeButton">Upgrade</button>
          </div>
          <h3 id = "creditview">{{ user.username }} credit {{ user.userprofile.credit }} </h3>
        </div>
      </div>
      <div class="row footer">
            a

      </div>
    </div>



  </body>
</html>

