<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Better Than Life</title>
    </head>

    <body>
        <h1>Login to Better Than Life</h1>

        <form id="login_form" method="post" action= "{% url 'show.views.user_login'  %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        <a href = "{% url 'register' %}">register</a>
    </body>
</html>